:root{
  --color-btn:#F5B041 ;
  --color-sel: #D68A33;
  --fondo-osc: #F39C12 ;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: var(--color-btn);
  color: white;
}

.topnav .icon {
  display: none;
}


.menu-bar{
  justify-content: center;
  display:flex;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

.base-social{
 display: none;
}
   
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .texto-justificado{
text-align: justify;
}

.menu-bar{
 float: none;
    display: block;
    text-align: left;
 
}


}

.fa-social{
  border-radius: 100%; 
  margin: 5px; 
  border:1px solid black; 

}

.base-social{
  margin-left: 100px;margin-top: 5px;
}




.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
.hero{
    min-height: 100vh;
    background-image: url(image.jpg);
    background-size: cover;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sombra{
   min-height: 100vh;
   background-color: black;
   opacity: 0.43;
}

.btncot{
  background-color: var(--color-btn);
    border: none;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}
.btnpr{
    background-color: var(--color-btn);
    border: none;
    color: white;
    padding: 0px 4px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
}
.btncarusel{
    background-color: white;
    color: var(--color-btn);
    border-color: black;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:40px;
    border: 1px solid green;
    border-radius: 15px;
}
.btnpr a:hover{
   background-color:var(--color-sel) ;
}
.btncot:hover{
    background-color:var(--color-sel) ;
}
.pr{
  margin-left: 800px;
  color: #FFFFFF;
  height: 400px;
 
}
.Present{
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: var(--fondo-osc);
  height: 450px;
}
.tex{
   margin-left: 130px;
   color: white;  
}
.photo{
  background-color: var(--color-btn);
}
.formulario{
  display: grid;
  grid-template-columns: 60% 40%;
  height: 600px;
}
.contactanos{
  background-color: black;
  color: white;

}
.f1 input {
  display: flex;
  background-color: black;
  border-color: white;
  color: skyblue;
  Border-radius: 20px;
  height: 40px;
  margin-top: 20px;
  margin-left: 100px;
  box-shadow: skyblue; 
}
 ::placeholder { 
  color: white; 
  margin-left: 110px;
}
.maps{
  background-color: var(--color-btn);
}
.carrusel{
  height: 600px;
}
/*estilos del carrusel
-----------------
*/
  * {box-sizing:border-box}
.slideshow-container {
  padding-top: 50px;
  max-width: 600px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*sdaaaa*/
.s1 {
  padding-top: 0px;
  max-width: 1100px;
  position: relative;
  margin: auto;
}
.c1 {
  display: inline-flex;
}
.antes, .despues {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  margin-top: -35px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.despues {
  right: 25px;
  border-radius: 3px 0 0 3px;
}
.antes:hover, .despues:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
